@model PostViewModel

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="img/banner/forums-icon.png" alt="forums-icon">
        <!-- /SECTION BANNER ICON -->
        @if (Model.GroupId != null)
        {
            <!-- SECTION BANNER TITLE -->
            <a class="section-banner-title" href="#">k/@Model.Group.Name</a>
            <!-- /SECTION BANNER TITLE -->
        }
        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Talk about anything! Gaming, music, comics and more!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->
    <!-- GRID -->
    <div class="grid grid-9-3">
        <!-- FORUM CONTENT -->
        <div class="forum-content">
            <!-- FORUM POST LIST -->
            <div class="forum-post-list">
                <!-- FORUM POST -->
                <div class="forum-post">
                    <!-- FORUM POST META -->
                    <div class="forum-post-meta">
                        <!-- FORUM POST TIMESTAMP -->
                        <p class="forum-post-timestamp">@Model.AddedDate.ToString("dd/MM/yyyy")</p>
                        <!-- /FORUM POST TIMESTAMP -->
                    </div>
                    <!-- /FORUM POST META -->
                    <!-- WIDGET BOX -->
                    <div class="widget-box no-padding">
                        <!-- WIDGET BOX SETTINGS -->
                        <div class="widget-box-settings">
                            <!-- POST SETTINGS WRAP -->
                            <div class="post-settings-wrap">
                                <!-- POST SETTINGS -->
                                <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                    <!-- POST SETTINGS ICON -->
                                    <svg class="post-settings-icon icon-more-dots">
                                        <use xlink:href="#svg-more-dots"></use>
                                    </svg>
                                    <!-- /POST SETTINGS ICON -->
                                </div>
                                <!-- /POST SETTINGS -->
                                <!-- SIMPLE DROPDOWN -->
                                <div class="simple-dropdown widget-box-post-settings-dropdown">
                                    <!-- SIMPLE DROPDOWN LINK -->
                                    <p class="simple-dropdown-link">Edit Post</p>
                                    <!-- /SIMPLE DROPDOWN LINK -->
                                    <!-- SIMPLE DROPDOWN LINK -->
                                    <p class="simple-dropdown-link">Delete Post</p>
                                    <!-- /SIMPLE DROPDOWN LINK -->
                                    <!-- SIMPLE DROPDOWN LINK -->
                                    <p class="simple-dropdown-link">Make it Featured</p>
                                    <!-- /SIMPLE DROPDOWN LINK -->
                                    <!-- SIMPLE DROPDOWN LINK -->
                                    <p class="simple-dropdown-link">Report Post</p>
                                    <!-- /SIMPLE DROPDOWN LINK -->
                                    <!-- SIMPLE DROPDOWN LINK -->
                                    <p class="simple-dropdown-link">Report Author</p>
                                    <!-- /SIMPLE DROPDOWN LINK -->
                                </div>
                                <!-- /SIMPLE DROPDOWN -->
                            </div>
                            <!-- /POST SETTINGS WRAP -->
                        </div>
                        <!-- /WIDGET BOX SETTINGS -->
                        <!-- WIDGET BOX STATUS -->
                        <div class="widget-box-status">
                            <!-- WIDGET BOX STATUS CONTENT -->
                            <div class="widget-box-status-content">
                                <!-- USER STATUS -->
                                <div class="user-status">
                                    <!-- USER STATUS TITLE -->
                                    <p class="user-status-title medium">
                                        <a class="bold" href="#" style="font-size:20px">
                                            @Model.Title
                                        </a>
                                    </p>
                                    <!-- /USER STATUS TITLE -->
                                </div>
                                <!-- /USER STATUS -->
                                <!-- WIDGET BOX STATUS TEXT -->
                                <p class="widget-box-status-text">
                                    @Model.Text
                                </p>
                                <!-- /WIDGET BOX STATUS TEXT -->
                                <!-- CONTENT ACTIONS -->
                                <div class="content-actions">
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LINK -->
                                            <i class="fab fa-fly"></i>
                                            <!-- /META LINE LINK -->
                                        </div>
                                        <!-- /META LINE -->
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE TEXT -->
                                            <i class="fas fa-chevron-down"></i>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE TEXT -->
                                            <i class="fas fa-share"></i>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                    <!-- CONTENT ACTION -->
                                    <div class="content-action">
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE LINK -->
                                            <p class="meta-line-link">d/yusiflinurlan</p>
                                            <!-- /META LINE LINK -->
                                        </div>
                                        <!-- /META LINE -->
                                        <!-- META LINE -->
                                        <div class="meta-line">
                                            <!-- META LINE TEXT -->
                                            <p class="meta-line-text">45 şərh</p>
                                            <!-- /META LINE TEXT -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /META LINE -->
                                </div>
                                <!-- /CONTENT ACTION -->
                            </div>
                            <!-- /CONTENT ACTIONS -->
                        </div>
                        <!-- /WIDGET BOX STATUS CONTENT -->
                    </div>
                    <!-- /WIDGET BOX STATUS -->
                </div>
                <!-- /FORUM POST -->
                @foreach (var item in Model.Comments)
                {

                    <!-- FORUM POST -->
                    <div class="forum-post">
                        <!-- FORUM POST META -->
                        <div class="forum-post-meta">
                            <!-- FORUM POST TIMESTAMP -->
                            <p class="forum-post-timestamp">@item.AddedDate.ToString("dd.MM.yyyy")</p>
                            <!-- /FORUM POST TIMESTAMP -->
                        </div>
                        <!-- /FORUM POST META -->
                        <!-- WIDGET BOX -->
                        <div class="widget-box no-padding">
                            <!-- WIDGET BOX SETTINGS -->
                            <div class="widget-box-settings">
                                <!-- POST SETTINGS WRAP -->
                                <div class="post-settings-wrap">
                                    <!-- POST SETTINGS -->
                                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                                        <!-- POST SETTINGS ICON -->
                                        <svg class="post-settings-icon icon-more-dots">
                                            <use xlink:href="#svg-more-dots"></use>
                                        </svg>
                                        <!-- /POST SETTINGS ICON -->
                                    </div>
                                    <!-- /POST SETTINGS -->
                                    <!-- SIMPLE DROPDOWN -->
                                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                                        @if (item.User.Token == ViewBag.token)
                                        {
                                            <!-- SIMPLE DROPDOWN LINK -->
                                            <a asp-action="deletepost" class="simple-dropdown-link highlighted text-danger"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                            <!-- /SIMPLE DROPDOWN LINK -->
                                        }
                                        else
                                        {
                                            <!-- SIMPLE DROPDOWN LINK -->
                                            <p class="simple-dropdown-link"><i class="fas fa-bug mr-2"></i>Şikayət et</p>
                                            <!-- /SIMPLE DROPDOWN LINK -->
                                            <!-- SIMPLE DROPDOWN LINK -->
                                            <p class="simple-dropdown-link highlighted text-danger"><i class="fas fa-ban mr-2"></i>Blokla</p>
                                            <!-- /SIMPLE DROPDOWN LINK -->
                                        }
                                    </div>
                                    <!-- /SIMPLE DROPDOWN -->
                                </div>
                                <!-- /POST SETTINGS WRAP -->
                            </div>
                            <!-- /WIDGET BOX SETTINGS -->
                            <!-- WIDGET BOX STATUS -->
                            <div class="widget-box-status">
                                <!-- WIDGET BOX STATUS CONTENT -->
                                <div class="widget-box-status-content">
                                    <!-- WIDGET BOX STATUS TEXT -->
                                    <p class="widget-box-status-text">
                                        @item.Text
                                    </p>
                                    <!-- /WIDGET BOX STATUS TEXT -->
                                    <!-- CONTENT ACTIONS -->
                                    <div class="content-actions">
                                        <!-- CONTENT ACTION -->
                                        <div class="content-action">
                                            <!-- META LINE -->
                                            <div class="meta-line">
                                                <!-- META LINE LINK -->
                                                <i class="fab fa-fly"></i>
                                                <!-- /META LINE LINK -->
                                            </div>
                                            <!-- /META LINE -->
                                            <!-- META LINE -->
                                            <div class="meta-line">
                                                <!-- META LINE TEXT -->
                                                <i class="fas fa-chevron-down"></i>
                                                <!-- /META LINE TEXT -->
                                            </div>
                                            <!-- META LINE -->
                                            <div class="meta-line">
                                                <!-- META LINE TEXT -->
                                                <i class="fas fa-share"></i>
                                                <!-- /META LINE TEXT -->
                                            </div>
                                            <!-- /META LINE -->
                                        </div>
                                        <!-- /CONTENT ACTION -->
                                        <!-- CONTENT ACTION -->
                                        <div class="content-action">
                                            <!-- META LINE -->
                                            <div class="meta-line">
                                                <!-- META LINE LINK -->
                                                <p class="meta-line-link">d/@item.User.Username</p>
                                                <!-- /META LINE LINK -->
                                            </div>
                                            <!-- /META LINE -->
                                        </div>
                                        <!-- /META LINE -->
                                    </div>
                                    <!-- /CONTENT ACTION -->
                                </div>
                                <!-- /CONTENT ACTIONS -->
                            </div>
                            <!-- /WIDGET BOX STATUS CONTENT -->
                        </div>
                        <!-- /WIDGET BOX STATUS -->
                    </div>
                    <!-- /FORUM POST -->
                }
                <!-- QUICK POST -->
                <div class="quick-post medium">
                    <!-- QUICK POST HEADER -->
                    <div class="quick-post-header">
                        <!-- QUICK POST HEADER TITLE -->
                        <p class="quick-post-header-title">Yaz</p>
                        <!-- /QUICK POST HEADER TITLE -->
                    </div>
                    <!-- /QUICK POST HEADER -->
                    <!-- QUICK POST BODY -->
                    <div class="quick-post-body">
                        <!-- FORM -->
                        <form class="form" method="post">
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- FORM TEXTAREA -->
                                    <div class="form-textarea">
                                        <textarea asp-for="@Model.Comment.Text"  placeholder="Salam ,@ViewBag.user.Username, fikrini yazmaqda azadsan !"></textarea>
                                        <!-- FORM TEXTAREA LIMIT TEXT -->
                                        <p class="form-textarea-limit-text">998/1000</p>
                                        <!-- /FORM TEXTAREA LIMIT TEXT -->
                                    </div>
                                    <!-- /FORM TEXTAREA -->
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                            <!-- QUICK POST FOOTER -->
                            <div class="quick-post-footer">
                                <!-- QUICK POST FOOTER ACTIONS -->
                                <div class="quick-post-footer-actions">
                                    <!-- QUICK POST FOOTER ACTION -->
                                    <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert Photo">

                                    </div>
                                    <!-- /QUICK POST FOOTER ACTIONS -->
                                    <!-- QUICK POST FOOTER ACTIONS -->
                                    <div class="quick-post-footer-actions">
                                        @if (Model.GroupId != null)
                                        {
                                            <!-- BUTTON -->
                                            <p class="button void">k/@Model.Group.Name</p>
                                            <!-- /BUTTON -->
                                        }
                                        <!-- BUTTON -->
                                        <button type="submit" asp-action="composecomment" asp-route-id="@Model.Id" class="button secondary">Göndər</button>
                                        <!-- /BUTTON -->
                                    </div>
                                    <!-- /QUICK POST FOOTER ACTIONS -->
                                </div>
                                <!-- /QUICK POST FOOTER -->
                            </div>
                            <!-- /QUICK POST -->
                        </form>
                        <!-- /FORM -->
                    </div>
                    <!-- /QUICK POST BODY -->
                    
                </div>
                <!-- /FORUM CONTENT -->
            </div>
            <!-- /GRID -->
        </div>

        <!-- FORUM SIDEBAR -->
        <div class="forum-sidebar grid-column">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX SETTINGS -->
                <div class="widget-box-settings">
                    <!-- POST SETTINGS WRAP -->
                    <div class="post-settings-wrap">
                        <!-- POST SETTINGS -->
                        <div class="post-settings widget-box-post-settings-dropdown-trigger">
                            <!-- POST SETTINGS ICON -->
                            <svg class="post-settings-icon icon-more-dots">
                                <use xlink:href="#svg-more-dots"></use>
                            </svg>
                            <!-- /POST SETTINGS ICON -->
                        </div>
                        <!-- /POST SETTINGS -->
                        <!-- SIMPLE DROPDOWN -->
                        <div class="simple-dropdown widget-box-post-settings-dropdown">
                            <!-- SIMPLE DROPDOWN LINK -->
                            <p class="simple-dropdown-link">Widget Settings</p>
                            <!-- /SIMPLE DROPDOWN LINK -->
                        </div>
                        <!-- /SIMPLE DROPDOWN -->
                    </div>
                    <!-- /POST SETTINGS WRAP -->
                </div>
                <!-- /WIDGET BOX SETTINGS -->
                <!-- WIDGET BOX TITLE -->
                <p class="widget-box-title">Başlıqlar</p>
                <!-- /WIDGET BOX TITLE -->
                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- POST PEEK LIST -->
                    <div class="post-peek-list">
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                            <!-- POST PEEK TEXT -->
                            <a href="#" class="post-peek-text">d/yusiflinurlan</a>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- /POST PEEK -->
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- /POST PEEK -->
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- /POST PEEK -->
                        <!-- POST PEEK -->
                        <div class="post-peek">
                            <!-- POST PEEK TITLE -->
                            <p class="post-peek-title"><a href="profile-post.html">Here's the how and why did I became a full time Gaming Streamer</a><span class="badge badge-secondary ml-2">54</span></p>
                            <!-- /POST PEEK TITLE -->
                            <!-- POST PEEK TEXT -->
                            <p class="post-peek-text">10 may 2020</p>
                            <!-- /POST PEEK TEXT -->
                        </div>
                        <!-- /POST PEEK -->
                    </div>
                    <!-- /POST PEEK LIST -->
                </div>
                <!-- /WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX SETTINGS -->
                <div class="widget-box-settings">
                    <!-- POST SETTINGS WRAP -->
                    <div class="post-settings-wrap">
                        <!-- POST SETTINGS -->
                        <div class="post-settings widget-box-post-settings-dropdown-trigger">
                            <!-- POST SETTINGS ICON -->
                            <svg class="post-settings-icon icon-more-dots">
                                <use xlink:href="#svg-more-dots"></use>
                            </svg>
                            <!-- /POST SETTINGS ICON -->
                        </div>
                        <!-- /POST SETTINGS -->
                        <!-- SIMPLE DROPDOWN -->
                        <div class="simple-dropdown widget-box-post-settings-dropdown">
                            <!-- SIMPLE DROPDOWN LINK -->
                            <p class="simple-dropdown-link">Widget Settings</p>
                            <!-- /SIMPLE DROPDOWN LINK -->
                        </div>
                        <!-- /SIMPLE DROPDOWN -->
                    </div>
                    <!-- /POST SETTINGS WRAP -->
                </div>
                <!-- /WIDGET BOX SETTINGS -->
                <!-- WIDGET BOX TITLE -->
                <p class="widget-box-title">Klublar</p>
                <!-- /WIDGET BOX TITLE -->
                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- FILTERS -->
                    <div class="filters">
                        <!-- FILTER -->
                        <a href="#">Hamsını gör</a>
                        <!-- /FILTER -->
                    </div>
                    <!-- /FILTERS -->
                    <!-- USER STATUS LIST -->
                    <div class="user-status-list">
                        <!-- USER STATUS -->
                        <div class="user-status request-small">

                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><a class="bold" href="group-timeline.html">Twitch Streamers</a></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text small">265 üzv</p>
                            <!-- /USER STATUS TEXT -->
                            <!-- ACTION REQUEST LIST -->
                            <div class="action-request-list">
                                <!-- ACTION REQUEST -->
                                <div class="action-request accept">
                                    <!-- ACTION REQUEST ICON -->
                                    <svg class="action-request-icon icon-join-group">
                                        <use xlink:href="#svg-join-group"></use>
                                    </svg>
                                    <!-- /ACTION REQUEST ICON -->
                                </div>
                                <!-- /ACTION REQUEST -->
                            </div>
                            <!-- ACTION REQUEST LIST -->
                        </div>
                        <!-- /USER STATUS -->
                        <!-- USER STATUS -->
                        <div class="user-status request-small">
                            <!-- USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><a class="bold" href="group-timeline.html">Cosplayers of the World</a></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text small">139 üzv</p>
                            <!-- /USER STATUS TEXT -->
                            <!-- ACTION REQUEST LIST -->
                            <div class="action-request-list">
                                <!-- ACTION REQUEST -->
                                <div class="action-request accept">
                                    <!-- ACTION REQUEST ICON -->
                                    <svg class="action-request-icon icon-join-group">
                                        <use xlink:href="#svg-join-group"></use>
                                    </svg>
                                    <!-- /ACTION REQUEST ICON -->
                                </div>
                                <!-- /ACTION REQUEST -->
                            </div>
                            <!-- ACTION REQUEST LIST -->
                        </div>
                        <!-- /USER STATUS -->
                        <!-- USER STATUS -->
                        <div class="user-status request-small">
                            <!-- USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><a class="bold" href="group-timeline.html">Stream Designers</a></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text small">466 üzv</p>
                            <!-- /USER STATUS TEXT -->
                            <!-- ACTION REQUEST LIST -->
                            <div class="action-request-list">
                                <!-- ACTION REQUEST -->
                                <div class="action-request accept">
                                    <!-- ACTION REQUEST ICON -->
                                    <svg class="action-request-icon icon-join-group">
                                        <use xlink:href="#svg-join-group"></use>
                                    </svg>
                                    <!-- /ACTION REQUEST ICON -->
                                </div>
                                <!-- /ACTION REQUEST -->
                            </div>
                            <!-- ACTION REQUEST LIST -->
                        </div>
                        <!-- /USER STATUS -->
                        <!-- USER STATUS -->
                        <div class="user-status request-small">
                            <!-- USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><a class="bold" href="group-timeline.html">Street Artists</a></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text small">951 üzv</p>
                            <!-- /USER STATUS TEXT -->
                            <!-- ACTION REQUEST LIST -->
                            <div class="action-request-list">
                                <!-- ACTION REQUEST -->
                                <div class="action-request decline">
                                    <!-- ACTION REQUEST ICON -->
                                    <svg class="action-request-icon icon-leave-group">
                                        <use xlink:href="#svg-leave-group"></use>
                                    </svg>
                                    <!-- /ACTION REQUEST ICON -->
                                </div>
                                <!-- /ACTION REQUEST -->
                            </div>
                            <!-- ACTION REQUEST LIST -->
                        </div>
                        <!-- /USER STATUS -->
                        <!-- USER STATUS -->
                        <div class="user-status request-small">
                            <!-- USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><a class="bold" href="group-timeline.html">Gaming Watchtower</a></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <p class="user-status-text small">2.365 üzv</p>
                            <!-- /USER STATUS TEXT -->
                            <!-- ACTION REQUEST LIST -->
                            <div class="action-request-list">
                                <!-- ACTION REQUEST -->
                                <div class="action-request accept">
                                    <!-- ACTION REQUEST ICON -->
                                    <svg class="action-request-icon icon-join-group">
                                        <use xlink:href="#svg-join-group"></use>
                                    </svg>
                                    <!-- /ACTION REQUEST ICON -->
                                </div>
                                <!-- /ACTION REQUEST -->
                            </div>
                            <!-- ACTION REQUEST LIST -->
                        </div>
                        <!-- /USER STATUS -->
                    </div>
                    <!-- /USER STATUS LIST -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
        </div>
        <!-- /FORUM SIDEBAR -->
        <!-- /CONTENT GRID -->
    </div>
