@model UserViewModel


<!-- HEADER ACTIONS -->
    <div class="header-actions" style="margin-right:50px">
        @if (Model == null)
        {
            <a asp-controller="auth" asp-action="index" style="padding-right:20px;padding-left:20px;" class="dropdown-navigation-button button small secondary">Daxil ol</a>
            <a asp-controller="auth" asp-action="register" style="padding-right:20px;padding-left:20px;" class="dropdown-navigation-button button small secondary">Üzv ol</a>
        }


        @if (Model != null)
        {
            <!-- ACTION LIST -->
            <div class="action-list dark">

                <!-- ACTION LIST ITEM WRAP -->
                <div class="action-list-item-wrap">
                    <!-- ACTION LIST ITEM -->
                    <div id="readnotify" class="action-list-item unread header-dropdown-trigger">
                        <!-- ACTION LIST ITEM ICON -->
                        <svg class="action-list-item-icon icon-notification">
                            <use xlink:href="#svg-notification"></use>
                        </svg>
                        <!-- /ACTION LIST ITEM ICON -->
                    </div>
                    <!-- /ACTION LIST ITEM -->
                    <!-- DROPDOWN BOX -->
                    <div class="dropdown-box header-dropdown">
                        <!-- DROPDOWN BOX HEADER -->
                        <div class="dropdown-box-header">
                            <!-- DROPDOWN BOX HEADER TITLE -->
                            <p class="dropdown-box-header-title">Bildirişlər</p>
                            <!-- /DROPDOWN BOX HEADER TITLE -->
                        </div>
                        <!-- /DROPDOWN BOX HEADER -->
                        <!-- DROPDOWN BOX LIST -->
                        <div class="dropdown-box-list" id="wole">
                            @foreach (var item in Model.Notifications.OrderByDescending(n=>n.IsRead == false))
                            {
                                <!-- DROPDOWN BOX LIST ITEM -->
                                <div id="notilist" class="dropdown-box-list-item @(item.IsRead ==false?"notreaden":" ")">
                                    <!-- USER STATUS -->
                                    <div class="user-status notification" id="testt">
                                        <!-- USER STATUS TITLE -->
                                        <a href="@item.Url" class="user-status-title"><a class="bold" href="profile-timeline.html">@item.SenderName</a><a class="highlighted" href="profile-timeline.html">@item.Text</a></a>
                                        <!-- /USER STATUS TITLE -->
                                        <!-- USER STATUS TIMESTAMP -->
                                        <p class="user-status-timestamp">2 minutes ago</p>
                                        <!-- /USER STATUS TIMESTAMP -->
                                        <!-- USER STATUS ICON -->
                                        <div class="user-status-icon">
                                            <!-- ICON COMMENT -->
                                            <svg class="icon-comment">
                                                <use xlink:href="#svg-comment"></use>
                                            </svg>
                                            <!-- /ICON COMMENT -->
                                        </div>
                                        <!-- /USER STATUS ICON -->
                                    </div>
                                    <!-- /USER STATUS -->
                                </div>
                                <!-- /DROPDOWN BOX LIST ITEM -->
                            }
                        </div>
                        <!-- /DROPDOWN BOX LIST -->
                        <!-- DROPDOWN BOX BUTTON -->
                        <a class="dropdown-box-button secondary" href="hub-profile-notifications.html">View all Notifications</a>
                        <!-- /DROPDOWN BOX BUTTON -->
                    </div>
                    <!-- /DROPDOWN BOX -->
                </div>
                <!-- /ACTION LIST ITEM WRAP -->
            </div>
            <!-- /ACTION LIST -->
            <!-- ACTION ITEM WRAP -->
            <div class="action-item-wrap">
                <!-- ACTION ITEM -->
                <div class="action-item dark header-settings-dropdown-trigger">
                    <!-- ACTION ITEM ICON -->
                    <svg class="action-item-icon icon-settings">
                        <use xlink:href="#svg-settings"></use>
                    </svg>
                    <!-- /ACTION ITEM ICON -->
                </div>
                <!-- /ACTION ITEM -->
                <!-- DROPDOWN NAVIGATION -->
                <div class="dropdown-navigation header-settings-dropdown">
                    <!-- DROPDOWN NAVIGATION HEADER -->
                    <div class="dropdown-navigation-header">
                        <!-- USER STATUS -->
                        <div class="user-status">
                            <!-- USER STATUS AVATAR -->
                            <!-- /USER STATUS AVATAR -->
                            <!-- USER STATUS TITLE -->
                            <p class="user-status-title"><span class="bold" id="sendername">@Model.FullName</span></p>
                            <!-- /USER STATUS TITLE -->
                            <!-- USER STATUS TEXT -->
                            <a asp-controller="profile" asp-action="index" asp-route-username="@Model.Username">@Model.Username</a>
                            <!-- /USER STATUS TEXT -->
                        </div>
                        <!-- /USER STATUS -->
                    </div>
                    <!-- /DROPDOWN NAVIGATION HEADER -->
                    <!-- DROPDOWN NAVIGATION CATEGORY -->
                    <p class="dropdown-navigation-category">Profil</p>
                    <!-- /DROPDOWN NAVIGATION CATEGORY -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="profile">Profil məlumatları</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="userinfo">Əlavə məlumatlar</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="social">Sosial media hesablarım</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION CATEGORY -->
                    <p class="dropdown-navigation-category">Hesab</p>
                    <!-- /DROPDOWN NAVIGATION CATEGORY -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="changepassüord">Şifrə yeniləməsi</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" href="hub-account-password.html">Gizlilik</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION CATEGORY -->
                    <p class="dropdown-navigation-category">Klublar</p>
                    <!-- /DROPDOWN NAVIGATION CATEGORY -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="clubs">Klubları idarə et</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION LINK -->
                    <a class="dropdown-navigation-link" asp-controller="setting" asp-action="createclub">Klub yarat</a>
                    <!-- /DROPDOWN NAVIGATION LINK -->
                    <!-- DROPDOWN NAVIGATION BUTTON -->
                    <a asp-controller="auth" asp-action="logout" class="dropdown-navigation-button button small secondary">Logout</a>
                    <!-- /DROPDOWN NAVIGATION BUTTON -->
                </div>
                <!-- /DROPDOWN NAVIGATION -->
            </div>
            <!-- /ACTION ITEM WRAP -->

        }
    </div>

<!-- /HEADER ACTIONS -->
